<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hutao.androidappdesignproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/appcion"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".activity.DesignChartActivity"></activity>
        <activity
            android:name=".activity.GuideActivity"
            android:theme="@style/guideStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.DetailActivity" />
        <activity android:name=".activity.ImageBrowserActivity" />
        <activity android:name=".activity.WebActivity" />
        <activity android:name=".activity.dataBindingActivity.BindDataBaseActivity" />
        <activity android:name=".activity.dataBindingActivity.BindTwoWayActivity" />
        <activity android:name=".activity.dataBindingActivity.BindFormulaActivity" />
        <activity android:name=".activity.dataBindingActivity.BindingListActivity" />
        <activity android:name=".activity.dataBindingActivity.BindAnimActivity" />
        <activity android:name=".activity.dataBindingActivity.BindAttActivity" />
        <activity android:name=".activity.ColorActivity.NormalColorActivity" />
        <activity android:name=".activity.rxJavaActivity.BuildRxActivity" />
        <activity android:name=".activity.rxJavaActivity.TransformActivity" />
        <activity android:name=".activity.rxJavaActivity.FilterActivity" />
        <activity android:name=".activity.rxJavaActivity.BooleanActivity" />
        <activity android:name=".activity.rxJavaActivity.MathActivity" />
        <activity android:name=".activity.rxJavaActivity.BlockActivity" />
        <activity android:name=".activity.rxJavaActivity.StringActivity" />
        <activity android:name=".activity.rxJavaActivity.BackpressureActivity" />
        <activity android:name=".activity.imgLoadActivity.GlideActivity" />
        <activity android:name=".activity.DbHelperActivity" />
        <activity android:name=".activity.AndroidNewStyleActivity" />
        <activity android:name=".activity.VLayoutActivity" />
        <activity android:name=".activity.ZxingActivity" />
        <activity android:name=".activity.ImgBroswerActivity" />
        <activity android:name=".activity.ChartsViewActivity" />
        <activity
            android:name=".activity.helloChartsViewFramework.ChartMainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.helloChartsViewFramework.LineChartActivity"
            android:label="@string/title_activity_line_chart" />
        <activity
            android:name=".activity.helloChartsViewFramework.ColumnChartActivity"
            android:label="@string/title_activity_column_chart" />
        <activity
            android:name=".activity.helloChartsViewFramework.PieChartActivity"
            android:label="@string/title_activity_pie_chart" />
        <activity
            android:name=".activity.helloChartsViewFramework.BubbleChartActivity"
            android:label="@string/title_activity_bubble_chart" />
        <activity
            android:name=".activity.helloChartsViewFramework.PreviewLineChartActivity"
            android:label="@string/title_activity_preview_line_chart" />
        <activity
            android:name=".activity.helloChartsViewFramework.PreviewColumnChartActivity"
            android:label="@string/title_activity_preview_column_chart" />
        <activity
            android:name=".activity.helloChartsViewFramework.ComboLineColumnChartActivity"
            android:label="@string/title_activity_combo_line_column_chart" />
        <activity
            android:name=".activity.helloChartsViewFramework.LineColumnDependencyActivity"
            android:label="@string/title_activity_line_column_dependency" />
        <activity
            android:name=".activity.helloChartsViewFramework.GoodBadChartActivity"
            android:label="@string/title_activity_good_bad" />
        <activity
            android:name=".activity.helloChartsViewFramework.TempoChartActivity"
            android:label="@string/title_activity_tempo_chart" />
        <activity
            android:name=".activity.helloChartsViewFramework.SpeedChartActivity"
            android:label="@string/title_activity_speed_chart" />
        <activity
            android:name=".activity.helloChartsViewFramework.ViewPagerChartsActivity"
            android:label="@string/title_activity_view_pager_charts" />
        <activity
            android:name=".activity.helloChartsViewFramework.AboutActivity"
            android:label="@string/title_activity_about" />
        <activity android:name=".activity.TabVpFrmActivity" />
        <activity android:name=".activity.BottomNavigationBarActivity" />
        <activity android:name=".activity.RemotePDFActivity" />
        <activity android:name=".activity.CardViewActivity" />
        <activity android:name=".activity.DialogActivity" />
        <activity android:name=".activity.CustomToolbarActivity" />
        <activity android:name=".activity.SurfaceViewActivity" />
    </application>

</manifest>